/*
Theme Name: Wp Estate Child
Theme URI: http://wpestatetheme.org/
Template: wpestate
Description:WP Estate Child Theme
Version:1.89
Author: Ana Maria - annapx0909@gmail.com
Author URI: 
Text Domain: wpestate
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, flexible-width, custom-menu, theme-options, translation-ready
License: 
License URI:
*/
@import url("../wpestate/style.css");

/* =Theme style.css customization starts here
-------------------------------------------------------------- */


/*------------>New Css<---------------*/


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:landscape) {
.button_map{
        margin-top:21% !important;
         }

.home-recent-posts {
  margin: 0px 9px 22px 0px;
  min-height: 505px !important;
}

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
.rev_slider_wrapper.fullwidthbanner-container {
    width: 350px !important;
    margin-left: 200px !important;
}
.advaned-search-single .advanced_search_shortcode .adv_search_internal{
     width:20% !important;
    margin-right: 20px !important;
}
.advaned-search-single #advanced_submit_shorcode {
    width: 127px !important;
    margin-left: 0px;
}
.home-recent-posts {
   min-height: 315px !important;
}
   .main-map{
        background-size: 100% auto;
   }
.form-all{
	 max-width: 350px !important;
    }
    .image_open{
      width:30% !important;		
    }
    .close_image{
      width:30% !important;	
    }
   .main-map{
        background-size: 100% auto;
    }
      .select_blink{
        width:86% !important;
    }
    .area_two{
       padding-left: 35% !important;
       width: 65% !important; 
    }
    .area_two .left{
       width: 25% !important;
    }
    .area_two .right{
       padding-left: 21% !important;
       padding-top: 18px !important;
       width: 40%;
    }
    .area_three .right{
      padding-left: 100px !important;
      padding-top: 60px !important;
      width: 41% !important;
    }

/* ------------------------------>Map2<-----------------------------------*/
  
  .ajax_load_map{
       background-size: 100% auto;
        height:761px !important;
   }
 .advaned-search-single{
        float: left;
        margin-bottom: 40px;
        margin-top: 10px;
        width: 100%;
    }
  .first_town{
        padding-left: 59% !important;
        padding-top: 43px !important;
    }
    .second_town{
        padding-left: 58% !important;
        padding-top: 20px !important; 
    }
    .third_town{
        padding-left: 57.2% !important;
        padding-top: 22px !important;
    }
    .fourth_town{
        padding-left: 56.4% !important;
        padding-top: 21px !important;
    }
    .fifth_town{
         padding-left: 55.8% !important;
         padding-top: 18px !important;
    }
    .sixth_town{
         padding-left: 55% !important;
         padding-top: 19px!important;
    }
    .seventh_town{
         padding-left: 54.4% !important;
         padding-top: 14px !important;
    }
    .eighth_town{
         padding-left: 54% !important;
         padding-top: 17px !important;
    }
    .tenth_town{
         padding-left: 53% !important;
         padding-top: 23px !important;
    }
    .elev_town{
        padding-left: 52.3%  !important;
        padding-top: 35px  !important;
    }
    .twelve_town{
        padding-left: 50.8% !important;
        padding-top: 40px !important;
    }
  
    #back_btnmap_two{
        padding:3px 10px !important;
    }
    .button_map{
        margin-top: 24% !important;
        padding-left: 75% !important;
    }





/*-------------------------------->map3-----------------------------------*/

   .ajax_load_map_two{
	 height:761px !important;
         background-size: 100% auto !important;
     }
       .button_map_two{
         padding:51px 0 0 14px !important;
         width: 94% !important;
     }
      .map2_first_area {
         padding-left: 53px  !important;
         padding-top: 17%  !important;
     } 
      .map2_second_area{
         padding: 11px 0 0 220px !important;
     }
      .map2_third_area{
         padding: 11px 0 0 196px !important;
     }
     .map2_fourth_area {
         padding: 20px 0 0 215px !important;
     }
     .map2_fifth_area {
         padding: 47px 0 0 165px !important;
     }
     .map2_sixth_area{	
	padding: 25px 0 0 108px !important;
     }
     .map2_eight_area {
	padding: 40px 0 0 77px !important;
     }
     .map2_seventh_area{
        padding: 60px 0 0 118px !important;
     }	
     .map2_ninth_area {
        padding: 49px 0 0 115px !important;	
     }
     .map2_tenth_area{
        padding-top: 9% !important;
     }
	
   
/*-------------------------------->End Map-----------------------------------*/

    #booking_location_shortcode{
        /*max-width:128px !important;*/
        margin-right:10px !important;
    }
    .advaned-search-single .guests_adv, .check_out_adv, .check_in_adv{
      width: 110px !important
    }
    .advaned-search-single .check_in_adv{
        
        margin-right:20px !important;    
    }
    .advaned-search-single .check_out_adv{
                margin-right:10px !important;    
    }
   .advaned-search-single.advanced_city_div_mobile #advanced_submit_shorcode{
       width:143px !important;
    }
    .filterHeadButton{
        
        width:25% !important;
        padding:18px !important;
    }
    .filter_header{
          min-height: 58px !important;
    }
    .filter_heading{
        padding:18px !important;
    }
#listing_ajax_container .property_listing {
    max-height: 320px !important;
    min-height: 310px !important;
    overflow: hidden !important;
}

.advanced_search_shortcode .check_in_adv, .advanced_search_shortcode .check_out_adv{
 margin-right: 22px;
}


.agentstuff .property_listing{
    max-height: 280px !important;
    min-height: 270px !important;
    overflow: hidden;
}
.home_advanced_sarch #advanced_submit_shorcode {
    clear: none;
    margin-left: 2px;
    margin-top: 0;
    padding: 8px 0;
    width: 130px;
}
.bottom-estate_property .property_listing.default {
    min-height: 259px !important;
}
.home_advanced_sarch .check_out_adv {
    margin-right: 22px !important;
}
.listing_units span {
    float: left;
}
.article_property_type .inforoom{
     background-position: 0px 4px;
}
.latest_listings .widget_latest_internal > figure{
   width: 74% !important; 
}
#footer-widget-area #first, #footer-widget-area #second, #footer-widget-area #third, #footer-widget-area #fourth {
    margin: 0;
}


.latest_listings .widget_latest_internal figure {
    width: 40% !important;
}
.listing_filters.oncompare.compare_custom{
    
    padding:10px !important;
}
.listing_filters .cd-dropdown, .listing_filters .cd-select {
    margin: 10px 15px 0 0 !important;
    width: 168px;
}
.date{
      width: 11.3% !important;
      
}
.date.date-demo {
    width: 13.7% !important;
}

#datepicker{
    background-position: 59px 14px !important; 
    font-size:13px !important;
     padding: 12px 0 12px 5px !important;
}
#datepicker1{
    background-position: 75px 13px !important; 
     font-size:13px !important;
}
.listing_advanced_guest_div {
    width: 23% !important;
}
.unique_id {
    width: 22% !important;
}
.type-filters{
    padding-left:0px !important
}
.checker{
    width: 104px !important;
}.from_date.hasDatepicker{
    
   width:75px !important;
}
.to_date.hasDatepicker{
    
    width:85px !important;
}
.custom-filter .listing_advanced_guest_div .cd-dropdown, .cd-select{
    
    width:165px !important;
}
.search_term {
    width: 141px !important;
}
.listing_advanced_guest_div .cd-dropdown > span{
width:91% !important;
}
.custom-filter .type-filters .checker{
    margin-top:18px !important;
}
.unique_id .search_term{
    font-size: 13px !important;
}
.checker label {
    font-size: 13px !important;
}
.bottom-estate_property h1 {
    margin-top: 0 !important;
    margin-bottom: 40px !important;
}
.listing_filters .cd-dropdown ul{
      width: 178px;
}
.listing_advanced_guest_div .cd-dropdown ul {
    width: 163px !important;
}
.listing_filters .cd-dropdown > span{
    font-size:13px !important;
}

.current_availability {
    float: left;
    width: 100%;
}
.prop_id, .prop_area{
    
    padding-left:10px;
}
  .form-line {
    padding: 7px 5px;
}
  .advaned-search-single .advanced_search_shortcode{
    width: 735px !important;
}
.advaned-search-single .advanced_search_shortcode .check_in_adv, .advanced_search_shortcode .check_out_adv{
    margin-right: 19px !important;
}
.advaned-search-single .advanced_search_shortcode .search_where input {
    width: 135px !important;
}




}
@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : landscape){

.main-map{
       display:none;  
     }



}


@media screen and (min-width: 320px) and (max-width: 480px){
    .main-map{
       display:none;  
     }
    .select_blink{
          font-size: 14px !important;
          width: 98% !important;
          padding-top:0px !important;
     }
     .sun{
         padding-right:0px !important;
         width:67px !important;
     }
     .area_one{
         padding-top:19% !important;
         padding-left:43% !important;
         width:55px !important;
     }
     .main-map .area_two .left img {
    width: 55px !important;
}
.area_two .right{
      padding: 0 0 0 15px !important;
      line-height: 15px;
      
}
a.show_area_one {
    font-size: 9.8px !important;
}
span.show_area_one {
    font-size: 9px !important;
}
.show_area_two {
    width: 55px !important;
}
.area_three{
    padding-left: 33% !important;
    padding-top: 5px !important;
}
.right > span, .right > a{
    font-size:9.8px !important;
}
.area_three .right {
     padding: 17px 12px !important;
      line-height: 15px;
      
}
.ajax_load_map{
    background-size: 100% auto;
}

.ajax_load_map span a{
   font-size: 13px !important; 
}
.first_town{
     padding-left: 60% !important;
     padding-top: 10px !important;
}
.second_town{
    line-height: 14px !important;
    padding-left: 59% !important;
    padding-top: 0 !important; 
}
.third_town{
    padding-left: 58% !important;
    padding-top: 1px!important;
}
.fourth_town{
    padding-left: 57% !important;
    padding-top: 1px!important;
    line-height: 10px !important;
}
.fifth_town{
    padding-left: 56%!important;  
    padding-top: 1px!important;
}
.sixth_town{
    padding-left: 55.5% !important;
    padding-top: 1px !important;
    line-height: 8px !important;
}
.seventh_town{
    padding-left: 55% !important;
    padding-top: 1px !important;
}
.eighth_town{
    line-height: 10px !important;
    padding-left: 54% !important;
    padding-top: 0 !important;
}
.tenth_town{
    padding-left: 53%!important;
    padding-top: 3px !important;
}
.elev_town{
    padding-left: 52.3%!important;
    padding-top: 1px !important;
}
.twelve_town{
    padding-left: 51.8% !important;
    padding-top: 5px !important;;
}
.button_map{
    font-size: 11px !important;
    width: 57% !important;
    margin-top:20.4% !important;
}
.button_map > a{
    padding: 1px 9px !important;
}
.ajax_load_map_two{
    background-size: 100% auto;
}

.ajax_load_map_two span a{
    font-size:13px !important;
}
.map2_second_area{
      padding: 0px 0 0 108px !important;
    text-align: center !important;
    line-height: 8px !important;
}
.map2_third_area{
        padding: 0px 0 0 103px !important;
}
.map2_fourth_area{
      padding: 0px 0 0 109px !important;
      line-height: 13px !important;
}
.map2_fifth_area{
    padding: 11px 0 0 88px !important;
    
}
.map2_sixth_area{
    padding: 0px 0 0 68px !important;
}
.map2_seventh_area{
    padding: 11px 0 0 59px !important;
}
.map2_eight_area{
    padding: 0px 0 0 21px !important;
    line-height: 9px !important;
}
.map2_ninth_area{
    padding: 44px 0 0 117px !important;
}
.map2_tenth_area{
    padding: 5% 0 0 48% !important;
}
.map2_eleventh_area{
     padding: 0% 0 0 44% !important; 
     line-height: 8px !important;
}
.button_map_two{
    padding: 13px 0 0 13px !important;
    width: 95%!important;
}
#back_btnmap_two{
    padding:1px 5px !important;
    font-size:10px !important;
}

    
 
   .image_open {
    margin-top: 0 !important;
    width: 90% !important;
}
.close_image {
    margin-bottom: 15px;
    margin-top: 0px !important;
    width: 90% !important;
}
.listing_advanced_guest_div .cd-dropdown ul{
    width:197px !important;
}
    
    
   .current_availability table tbody tr td{
      border: 2px solid #b3effc;
    font-size: 9.8px;
    padding: 8px 0 !important;
     }
    td#month_color{
      font-size:16px !important;
      border:2px solid #b3effc !important;
     }

    .inside_post{
     padding-top:0px !important;
     }
     .no_margin_bottom .title_prop {
     margin-top: 0px !important;
    }
    .home_adv_search_box {
     float: left;
     width: 100%;
   }
   .latest_listings .widget_latest_internal figure {
    width: 28% !important;
}
   
    .home_adv_search_box .search_where, .home_adv_search_box .check_in_adv, .home_adv_search_box .check_out_adv{
        margin-bottom :10px;
   }
 .home_adv_search_box .advanced_city_div_mobile{
        width:90% !important;
}
 .home_adv_search_box .advanced_search_shortcode .check_out_adv,  .home_adv_search_box .advanced_search_shortcode .check_in_adv,  .home_adv_search_box .advanced_search_shortcode .search_where,  .home_adv_search_box .advanced_search_shortcode .search_guest{
    width:90% !important;
}
.no_dates_prop{
    width:57% !important;
}
#home_page_town {
    text-align: justify;
}
.home_latest_listing .bottom-estate_property figure{
   width:97.5% !important;
    
}
.home_latest_news .bottom-estate_property figure{
   width:97.5% !important;
}
.icon_img, .zillow_widget, .advanced_search_sidebar{
    width:94% !important;
}
.loginwd_sidebar {
 width:86.6% !important; 
    
}
.mortgage_calculator_div{
   width:94% !important;  
}
.mortgage_calculator_div > h3 {
    text-align: center;
}
.facebook_widget_like {
    max-width: 94% !important;
}
.main_filter_div{
    width:100% !important;
}
.listing_advanced_city_div, .listing_advanced_area_div, .listing_filter_div{
    margin-left:0px !important;
}
.main_filter_div #advanced_button_search{
    margin-top:5px !important;
    margin-bottom:22px !important;
    width:100% !important;
}
.type-filters{
    margin-bottom:0px !important;
    margin-left:0px !important;
}
.listing_advanced_guest_div .cd-dropdown, .cd-select{
    width:185px !important;
    margin:0px;
}
#datepicker{
   width:185px !important; 
   background-position: 130px 12px !important;
} 
#datepicker1{
background-position:130px 12px !important;
 width:181px !important;
}
.search_term{
 width:150px !important;
}
.date, .listing_advanced_guest_div, .unique_id{
    width:70% !important;
    margin-bottom:8px ;
}
.default figure img{
   width:310px !important;
   margin-left:0px;
}
.filterHeadButton{
    width:40% !important;
    padding:5px !important;
}
.filterHeadButton > a{
    float:left;
     width: 100%;
     padding:6px 0 !important;
     font-size:11.4px;
}
.filter_heading{
    padding: 15px 10px 14px 0 !important;
    width: 41% !important;
}
.filter_heading h4{
    font-size:15px !important;
}
.filter_header{
   min-height: 45px !important; 
}
.listing_advanced_city_divv, .listing_advanced_area_div, .listing_filter_div, .listing_filter_bedroom{
    margin-bottom:15px;
}
.listing_filter_bedroom{
    width:100% !important;
}
.listing_filters.oncompare.compare_custom{
    padding:5px !important;
}
.toggle_div{
    margin-top:10px;
}
.custom-filter .type-filters {
    width:100% !important;
    padding:5px !important  ;
}
.custom-filter{
padding:5px !important  ;
}.checker{
    width:170px !important;
}
.article_property_type .infobath{
    font-size:12px;
}
#listing_ajax_container .property_listing{
    min-height:450px !important;
}
.prop_id, .prop_area{
    padding-left:10px;
}

.noshadow .property_listing, .property_listing{
    width:310px !important;
}
#listing_ajax_container .default > figure {
    width: 310px !important;
}
.widget-container{
    
    margin-bottom:0px !important;
}
#listing_ajax_container .property_listing figure{
    width:310px;
    
}
#listing_ajax_container .property_listing figure img{
    margn-left:0px !important;
    
}

.advanced_search_shortcode .check_out_adv, .advanced_search_shortcode .check_in_adv, .advanced_search_shortcode .search_where, .advanced_search_shortcode .search_guest{
   margin-bottom:10px; 
   
}

 .advaned-search-single .advanced_search_shortcode {
    float: left !important;
    height: auto !important;
    width: 97% !important;
}
.advanced_search_shortcode .adv_search_internal{
    
    width:70% !important;
    margin-bottom:10px;
}
.advaned-search-single{
    margin-top: 0px !important;
    margin-bottom: 28px !important;
    
}
.bottom-estate_property .property_listing, .bottom-estate_property .property_listing > figure {
    width: 310px !important;
}
.single-property-details .roo_detais{
    
    width:30%;
}

.home_adv_search_box .advanced_search_shortcode {
    background: none !important;
    border: none !important;
}



}


.custom-filter {
    float: left;
    width: 97% !important;
    border-bottom: 1px dashed #d0d0d0;
    padding:15px;
}

#custom-select-box {
    float: left;
    width: 100%  !important;
    padding:6px 0px;
    border:solid 1px #dfdfdf;
    height:42px;
}
#datepicker{
    background-image: url("./css/css-images/calender.png");
    background-position: 82px 13px;
    background-repeat: no-repeat;
    border: 1px solid #dfdfdf;
    box-shadow: none;
    padding: 12px 0 12px 2px;
    margin-top:10px;
}

#datepicker1
{
    background-image: url("./css/css-images/calender.png");
    background-position: 88px 13px;
    background-repeat: no-repeat;
    box-shadow: none;
    padding: 12px 0 12px 10px;
    margin-top:10px;
}
.date {
    float: left;
    width: 13%;
}
.unique_id {
    float: left;
    width: 20%;
    
}
.unique_id .search_term{
    box-shadow: none;
    padding: 12px 0 12px 15px !important;
    border:1px solid #dddddd;
    margin-top:10px;
    
}
.listing_filter_bedroom {
    float: left;
    width: 23%;}

.compare_custom{
    border-top:none;
    
  }


#listing_filter_bed {
    border: 1px solid #dfdfdf !important;
    margin-left: 29px;
    padding: 0 5px;
}
/* WebKit browsers */
input.hasDatepicker::-webkit-input-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Mozilla Firefox 4 to 18 */
input.hasDatepicker:-moz-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Mozilla Firefox 19+ */
input.hasDatepicker::-moz-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Internet Explorer 10+ */
input.search_term:-ms-input-placeholder {
     color: #000 !important;
     opacity: 1;
}
input.search_term::-webkit-input-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Mozilla Firefox 4 to 18 */
input.search_term:-moz-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Mozilla Firefox 19+ */
input.search_term::-moz-placeholder { 
     color: #000 !important;
     opacity: 1;
}
/* Internet Explorer 10+ */
input.hasDatepicker:-ms-input-placeholder {
     color: #000 !important;
     opacity: 1;
}


.agent_detail > a {
    color: #7e7e7e;
}

.listing_advanced_guest_div {
    float: left;
    width: 23%;
}
.listing_filters .cd-dropdown > span{
    
   padding: 9px 0 18px 9px !important;
}
.listing_advanced_guest_div .cd-dropdown > span
{
   padding:9px 0 11px 11px;
    
}
.logo img {
  padding-top: 14px;
}
 .cusotm_pagination .active{
     
    color: #22be73 !important;
}
 .my_paging_div{
     display: none;     
}
 .current_page{
     display: block !important;     
}
 #listing_ajax_container .property_listing{
  min-height: 500px;
  max-height:510px;
  overflow: hidden;
}
#listing_ajax_container{
    margin-top:50px;
    
}
.article_property_type .inforoom{
    background-image: url("./css/css-images/icon_bed1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #888c8e;
    font-size: 12px;
    height: 17px;
    margin-right: 1px;
    padding-left: 20px;
    
}
.single-property-city-name > span {
    color: #097240;
    font-family: "Roboto",sans-serif;
    font-size: 28px;
}
.single-property-city-name a {
    font-family: "Roboto",sans-serif;
    font-weight: 300 !important;
}

.under-title-addres
{
color:#1a171b;
text-decoration: none;
font-size: 34px;
   font-family: "Roboto",sans-serif;
   font-weight: 300 !important;
    
}
.under-title-addres a {
     color: #1a171b;
     font-family: "Arial";
     font-size: 34px;
     font-family: "Roboto",sans-serif;
     text-decoration: none;
     font-weight: 300 !important;
}
.listing_id {
    color: #1a171b !important;
    font-family: "Roboto",sans-serif;
    font-size: 23px;
    font-weight: 300 !important;
    margin-bottom: 10px;
    margin-top: 17px;
}
.single-property-area > a {
    color: #1a171b;
    font-family: "Roboto",sans-serif;
    font-size: 23px;
    font-weight: 300 !important;   
}
.single-property-details {
    background: #f5f5f5;
    float: left;
    margin: 5px 0 10px;
    padding: 10px;
    width: 100%;
    font-size:18px;
}
.single-property-details span {
    float: left;
    width: 18%;
}
.price-range {
    float: left !important;
    font-size: 15px;
    padding: 10px 0;
    width: 100% !important;
}
.under-title {
    float: left;
    width: 100%;
}
.rentalspin
{
  margin-top:0px !important;
}
.advaned-search-single {
    background-image: url("./css/css-images/property-page-search.jpg");
    float: left;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.advaned-search-single .btn.vernil.small {
    background: #2B3CE0 none repeat scroll 0 0;
    clear: none !important;
    color: #ffffff;
    float: left;
    padding: 8.7px 0;
    margin-top:0px !important;
    width:163px !important;
}
.advaned-search-single .advanced_search_shortcode {

    border: 1px solid #2b3ce0;
    float: none;
    height: 75px;
    margin-top:37px !important;
    margin-bottom:64px !important;
    padding: 8px 0 8px 8px;
    width: 930px;
    margin:auto;
}
.advaned-search-single .advanced_search_shortcode .cd-dropdown > span {
    padding: 13px 0 13px 11px !important;
}
 .advanced_city_div_mobile .cd-dropdown > span::after {
    background: rgba(0, 0, 0, 0) linear-gradient(#f8f8f8, #ebebeb) repeat scroll 0 0;
    color: #2B3CE0;
    height: 40%;
    padding: 12px 5px;
    top: 0;
}
// <----------------- Availability Table CSS------------->
.current_availability {
    float: left;
    width: 100%;
}
.current_availability table {
   background: #B3EFFC; 
   border:none;
}
.current_availability table tbody td{
    color: #036033;
  border: solid 6px #B3EFFC;
  text-align: center;
  background: #fff;
}
td#month_color {
  font-size: 18px;
  border: solid 6px #B3EFFC;
  background: #fff;
  width: 15%;
  line-height: 21px !important;
  padding: 15px 0px;
  vertical-align: middle;
}
#tour_link > a {
  position: relative;
  color: #000;
  text-decoration: none;
}
#tour_link > a:hover {
  color: #000;
}
#tour_link > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#tour_link > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#tour_link {
    font-size: 18px;
}
#adv_5_closerr {
  padding: 14px 14px;
  color: #fff;
  background-color: #67cfd8;
  float: left;
  cursor: pointer;
  margin-top: -1px;
  margin-right: 2px;
}
.fullwhite.wrapper-demo
{
  margin-top: 0px !important;}
.wrapper-demo .breadcrumbs .map_opener{
  display:none;
}
.listing_filters .cd-dropdown, .listing_filters .cd-select{
  margin:10px 34px 0px 0px;
}
.listing_filter_bedroom .cd-dropdown {
    z-index: 1;
}
 .wrapper-demo .breadcrumbs-internal {
    margin: 0;
    padding-top: 15px;
}
.demo-contact2 {
    width: 80%;
}
.agentstuff .property_listing
{
    max-height: 485px !important;
    min-height: 475px !important;
    overflow: hidden;
}
.agent_bottom_border .featured_agent_image
{
  width:235px;
  height:170px;
  border-radius:0px;
}
.checker2 {
    float: left;
    margin-right: 10px;
}
.amenities span {
  font-size: 12px;
}
.listing_filters
{
    border-bottom:none;
    width:97%;
}
.listing_filters.oncompare.compare_custom
{
    margin-bottom:25px;
    padding:0px;
    border:none;
    padding:15px;
}
.type-filters {
    float: left;
    margin-bottom: 30px;
    width: 30%;
}
.toggle_div {
    float: left;
    width: 100%;
    margin-top: 25px;
}
.main_filter_div{
    float: left;
    width: 99%;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    float: left;
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f8f8f8, #f2f2f2);
    background: -o-linear-gradient(#f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(#f8f8f8, #f2f2f2);
    background: linear-gradient(#f8f8f8, #ebebeb);
}
.main_filter_div #advanced_button_search {
    float: left;
    text-align: center;
    width: 99%;
    margin-top:28px;
    margin-bottom:15px;
}
#ad_button {
    background: #FA0A0A;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 28px;
}
#ad_button_hide{
    background: #FA0A0A;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 25px;
}
.listing_advanced_guest_div .cd-dropdown ul{
    width:193px;
}
.listing_advanced_guest_div .cd-dropdown > span::after{
    
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f8f8f8, #f2f2f2);
    background: -o-linear-gradient(#f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(#f8f8f8, #f2f2f2);
    background: linear-gradient(#f8f8f8, #ebebeb);
    border-left: 1px solid #dddddd;
    color:#2b3ce0;
    content: "▼";
    font-size: 12px;
    height: 75%;
    padding: 11px 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}
.listing_filters .cd-dropdown > span::after{
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f8f8f8, #f2f2f2);
    background: -o-linear-gradient(#f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(#f8f8f8, #f2f2f2);
    background: linear-gradient(#f8f8f8, #ebebeb);
    border-left: 1px solid #dddddd;
    color: #2B3CE0;
    content: "▼";
    font-size: 12px;
    height: 51%;
    padding: 10px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}
.teaxonomies_filters {
    border-bottom: medium none;
    margin-bottom: 30px;
}
.listing_advanced_city_divv {
    float: left;
    position: relative;
}
.adv_small_btn {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
.adv_smallthin_bt {
    float: left;
    line-height: 0;
    text-align: right;
    width: 98%;
    text-decoration:underline; 
    color:#fff;
    position:relative;	
}



#adv-search-5{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: solid 1px #1019C9;
    margin-top: 80px;
    border-radius: 2px;
   
}
.adv5_hider.adv5_hider_custom label {
    color: #fff;
     position: relative;
    z-index: 1033;
}
.adv5_hider_custom .booking_where{
    width:206px !important;
}
.guests_adv_demo .cd-dropdown > span {
    width: 214px;
}
.adv5_hider_custom .check_in_adv, .adv5_hider_custom .check_out_adv {
    margin-right: 21px !important;
    width: 122px !important;
}
.adv5_hider_custom .check_in_adv #check_in, .adv5_hider_custom .check_out_adv #check_out{
    width: 122px !important; 
    z-index: 1033; 
    position: relative;
    background-image: url("http://vrbrsupersite.com/wp-content/uploads/2015/07/check-in.png");
    background-repeat: no-repeat;
    background-position: 93px 13px
}
.guests_adv_demo{
    
    width:238px !important;
}
#advanced_submit_5:hover{
    background:#3B4BDB;
    color:#fff;
}
#advanced_submit_5{
    background:#2B3CE0;
    margin-left:1px;
    width:180px;
    color:#fff;
    pointer:cursor;
    padding:8.7px 0 !important;
    z-index: 1033; 
    position:relative;
}
.guests_adv_demo .cd-dropdown > span::after{
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f8f8f8, #f2f2f2);
    background: -o-linear-gradient(#f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(#f8f8f8, #f2f2f2);
    background: linear-gradient(#f8f8f8, #ebebeb);
    height: 40%;
    padding: 12px 5px;
    top: 0;
    color:#2B3CE0;
}
.guests_adv_demo .cd-dropdown> ul{
    width:228px;
}
.no_dates_prop {
    clear: both;
    float: left;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top:7px;
}
.advanced_search_shortcode .adv_search_internal
{
    height:44px;
    margin-right:28px;
}
.advanced_search_shortcode input {
    margin-bottom: 0 !important;

}
.amenit_one {
    float: left;
    width: 100%;
}
.amenit_two {
    float: left;
    width: 100%;
}
.amenities .inforoom, .amenities .infobath {
    padding-right: 15px;
}
.current_availability table tbody tr td{
    padding:8px 10px;
    vertical-align: middle;
}
.min_rent{
 color: #22be73;
    float: left;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 9px;
    margin-top: 2px;
    width: 100%;
}
.no-image {
    height: 170px;
}
.property_price{
 margin-bottom: 0px;   
}
.agentstuff .property_listing:nth-of-type(3n), #listing_ajax_container .property_listing:nth-of-type(3n) {
    float: left;
    margin-right: 11px !important;
}
.property_listing{
     margin: 0 11px 22px 0;
}
.advanced_search_shortcode{
    background-image: url('http://vrbrsupersite.com/wp-content/uploads/2015/07/transparent_img.png');
    border: 1px solid #22be73;
    background-size: cover;	
 }
.custom-filter .type-filters .checker{
    margin-top:18px;
    margin-right:0px;
}
.multi-rental {
    float: left;
    width: 57%;
}
.custom-filter .listing_advanced_guest_div .cd-dropdown, .cd-select{
    width:180px;
    margin-top:10px;
}
.date.date-demo {
    width: 13.7%;
}
.search_term {
    width: 150px;
}
.custom-checker {
    width: 114px !important;
    mamrgin-top:10px !important;
}
.checker img{
   margin-right: 2px;     
}.checker.fixed_checker3.custom-checker span {
    width: 18px;
}
.small.btn {
    background-color: #2B3CE0;
    color: #ffffff;
    font-size: 16px;
    min-width: 167px;
    padding: 11px 22px;
}.article_container .multiline{
    min-height: 420px;
}
.title_feature_listing{

color:#7e7e7e !important;
}
home-btn-search{
   margin-bootom:0 10px 20px 0 !important; 
}
.adv_smallthin_bt:hover{
    color:#36BC79;
    text-decoration: underline;
}
.listing_advanced_city_divv > label, .listing_filter_div > label, .listing_advanced_area_div > label,.listing_filter_bedroom > label, .date > label, .date.date-demo > label, .listing_advanced_guest_div > label, .unique_id > label, .type-filters > label {
    color: #1a171b;
    font-size: 14px;
    font-weight: bold;
}
.adv_smallthin_cnt{
    margin-bottom: 6px;
    text-align: center;
    text-decoration: underline;
}
.agent_filter_box{
    margin-right: 60px;
    text-align: right;
}
.agent_filter_box>.cd-dropdown{
	float: right;
    text-align: left;
}

.filter_header {
    background:#4455ed none repeat scroll 0 0;
    color: #ffffff !important;
    float: left;
    min-height: 68px;
    width: 100%;
}
.filterHeadButton {
    background: #2b3ce0 none repeat scroll 0 0;
    float: right;
    padding: 23px;
    text-align: center;
    width: 19%;
}
.filterHeadButton > a{
    background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f2f2f2) repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: #333;
    font-family: Open Sans,Proxima Nova Semi-bold,Helvetica,Arial;
    font-size: 11.4px;
    letter-spacing: 0.2px;
    padding: 6px 27px;
    transition: color 0.2s linear 0s
}
.filter_heading {
    background: #2b3ce0 none repeat scroll 0 0;
    float: left;
    padding: 19px;
    width: 22%;
}
.filter_heading h4{
    margin-bottom:0px;
     color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.candy{
    background-image: url("http://vrbrsupersite.com/wp-content/uploads/2015/07/arrow-icon11.png");
    background-position: 30px -13px;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    height: 22px;
    width: 100%;
    }
.home_adv_search .advanced_search_shortcode {
    margin-top: 0px;
    background: none;
    border: none;
}
.shortcode_amenit_one img {
    float: left;
}
.shortcode_amenit_one .inforoom {
    float: left;
    width: 31%;
}
.amenities {
    float: left;
    width: 100%;
}
.shortcode_amenit_one {
    float: left;
    width: 100%;
}
.shortcode_amenit_two {
    float: left;
    width: 100%;
}
.shortcode_amenit_two img {
    float: left;
}
.shortcode_amenit_two .inforoom {
    float: left;
    width: 31%;
}
.adv5_hider_custom .booking_where {
    clear: none !important;
}
#booking_location_shortcode{
    margin-right: 17px;
     z-index: 1033;
    position: relative;
}
.advanced_search_shortcode .check_in_adv, .advanced_search_shortcode .check_out_adv{
    margin-right:27px;
}
 #booking_location_shortcode{
    
    width:190px;
}
div#fourth{
   text-align:center; 
}
.agent_detail > span {
    color: #333333;
}
.powrMark, .div#openmap{
  display: none;
}
.prop-compare {
    margin-top: 33px;
}
.icon-fav-off, .icon-fav-on, #add_favorites{
    display:none;
}
.listing_advanced_guest_div .cd-dropdown ul
{
    background:#fff;
}
.comparetile {
  margin-right: 20px;
  margin-top: 22px;
  font-size: 18px; 
}
span.hit-count{
    color: #7e7e7e !important;
}
.left_blog {
    float: left;
    margin-top: 10px;
    width: 60%;
      margin-bottom: 20px;
}
.blog_listing_image{
    width:30% !important;
    margin-top:0px;
}
.year-custom, .date-custom, .basement-custom, .construction-custom, .roofing-custom, .garage-custom, .garage{
    display:none;
}
.pagination.cusotm_pagination2 {
    float: left;
    width: 100%;
}
#listing_ajax_container > h4 {
    float: left;
    width: 40%;
}
.compare_item {
 margin-top: 10px;
}
.advaned-search-single #advanced_submit_shorcode{
    margin-right: 0;
    width: 160px;
    position: relative;
    z-index: 1033;
}
.advaned-search-single .advanced_city_div_mobile{
    width: 23.3%;
}
#access{
    margin-top:24px !important;
}
.home_advanced_sarch .no_dates_prop {  
     clear: none;
    color: #000000;
    float: left;
    margin: 3px auto auto !important;
    text-align: left;
    width: 479px;
    padding-left: 35px;
}


.branding_fixed{
   height:110px !important;
}
.branding_fixed .header_social{
   margin-top:43px;
}
#listing_loader{
   background-image:none;
   padding:150px 0px;
   background:#f2f2f2;
   width:99.2%;
}
#listing_loader > span {
    float: left;
    width: 100%;
}

.close_image{
    float: right;
    margin-top: -60px;
    width: 27%;
}
.image_open {
    float: right;
    margin-top: -60px;
    width: 27%;
}
.toggle_link {
    float: left;
    width: 95%;
}
.open_link {
    background:  #2B3CE0 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 13px;
}

.close_link {
    background: #2B3CE0 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 13px;																									
}
 .close_link:hover{
    color:#fff !important;
    
}
.search_title {
    font-size: 30px !important;
}
footer {
    z-index: 0 !important;
}
.cd-active.cd-dropdown > span {
    color: #2B3CE0 !important;
}
.cd-active.cd-dropdown ul li span:hover{
    background-color:#2B3CE0;
}
#access ul ul{
    display:block;
 }
 .noonav.noo_menu_146 .noo-megamenu .dropdown-menu, .noonav.noo_menu_146 .noo-megamenu .dropdown-submenu > .dropdown-menu{
     padding:0px !important;
 }
 #access ul ul li a:hover{
  color:#2B3CE0 !important;
 }
 #post figcaption, .widget_latest_internal figcaption {
 background: rgba(16,25,201,0.5) !important;
 border: 0px !important;
 border-color: rgba(16,25,201,0.9) !important;
 }
 #hover_link {
    color: #ffffff !important;
    text-align: center;
    width: 79%;
}
hover_link_shortcode{
    
    color: #ffffff !important;
    text-align: center;
    width: 78%;
}

.main-map {
    background-repeat: no-repeat;
    height: 592px;
    width: 100%;
    background-image: url("./css/css-images/img-11.jpg");
}
.ajax_load_map{
     background-repeat: no-repeat;
    height: 592px;
    width: 100%;
    background-image: url("./css/css-images/first-link.jpg");
}
.ajax_load_map_two{
     background-repeat: no-repeat;
    height: 592px;
    width: 100%;
    background-image: url("./css/css-images/second-link.jpg");
}
.area_one {
    float: left;
    padding-left: 37%;
    padding-top: 11%;
    width: 51%;
}
.area_two {
    float: left;
    padding-left: 35%;
    padding-top: 0px;
    width: 53%;
}

.area_two .left {
    float: left;
    width: 34%;
}
.area_two .right {
    float: left;
    padding-left: 11%;
    padding-top: 18px;
    width: 50%;
}

.area_three {   
    float: left;
    padding-left: 28%;
    padding-top: 32px;
    width: 60%;
}

.area_three .left {
    float: left;
    width: 31%;
}
.area_three .right {
 float: left;
    padding-left: 53px;
    padding-top: 33px;
    width: 50%;
}

.main-map span img{
    cursor:pointer
  }
.sun {
    float: right;
    padding-right: 80px;
}
.select_blink {
    float: left;
    width: 74%;
    text-align: right;
    padding-top: 31px;
    font-size: 17px;
    color:#fff;
}
.right > a {
    color: #fff;
    font-size: 16px;
    cursor:pointer;
}
.right > span {
    color: #fff;
    font-size: 14px ;
    cursor:pointer;

}
.ajax_load_map span {
    color: #fff;
    float: left;
    width: 51%;
}
.first_town {
    color: #ffffff !important;
    padding-left: 52.5%;
    padding-top: 5%;
    
}
.second_town {
    color: #ffffff !important;
    padding-left: 52%;
    padding-top: 11px;
  
}

.third_town{
     color: #ffffff !important;
    padding-left: 51.2%;
    padding-top: 10px;
    
}

.fourth_town {
    color: #ffffff !important;
    padding-left: 50.4%;
    padding-top: 10px;
   
}
.fifth_town {
    color: #ffffff !important;
    padding-left: 49.8%;
    padding-top: 10px;
    
}

.sixth_town{
     color: #ffffff !important;
    padding-left: 49%;
    padding-top: 12px;
    
}

.seventh_town {
    color: #ffffff !important;
    padding-left: 48.4%;
    padding-top: 7px;
   
}

.eighth_town {
    color: #ffffff !important;
    padding-left: 47.7%;
    padding-top: 10px;
   
}

.tenth_town {
    color: #ffffff !important;
    padding-left: 47%;
    padding-top: 13px;
   
}
.elev_town {
    color: #ffffff !important;
    padding-left: 46.3%;
    padding-top: 23px;
   
}
.twelve_town {
    color: #ffffff !important;
    padding-left: 45.8%;
    padding-top: 40px;
    
}

.button_map {
    float: left;
    margin-top: 21%;
    padding-left: 64%;
}

.button_map > a {
    background: #3B4062;
    color: #ffffff;
    padding: 5px 10px;
    border: solid 1px #fff;
    cursor: pointer;
}
.ajax_load_map span a {
    color: #ffffff;
    font-size: 17px;
}


.agent_listing_prop_details{
    
      margin: 2px 0px 0px 43px;
}
.ajax_load_map_two span {
    width: 56%;
    float: left;
}
.map2_first_area {
    padding-top: 14%;
    text-align: right;
     padding-left: 5px;
}
.map2_first_area a{
   color:#fff;
   font-size:17px;
}
.map2_second_area {
    padding: 10px 0 0 165px;
    text-align: right;
}
.map2_third_area {
    padding: 5px 0 0 135px;
    text-align: right;
}
.map2_fourth_area {
    padding: 11px 0 0 158px;
    text-align: right;
}
.map2_fifth_area {
    padding: 32px 0 0 104px;
    text-align: right;
}
.map2_sixth_area {
    padding: 17px 0 0 65px;
    text-align: right;
}
.map2_seventh_area {
 float: left !important;
    padding: 51px 0 0 106px;
    text-align: center;
    width: 25% !important;
}
.map2_eight_area {
    padding: 20px 0 0 38px;
    width: 23% !important;
}
.map2_ninth_area {
   padding: 35px 0px 0px 86px;
    text-align: right;
}
.map2_tenth_area {
    padding-top:7%;
    text-align:right;
}
.map2_eleventh_area {
    padding-top:2%; 
    text-align:center;
    padding-left:15%;
}
#back_btnmap_two{
    background: #3b4062 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    
}
.two_areas {
    float: left;
    width: 97%;
}
.ajax_load_map_two span a {
    color: #fff;
    font-size: 17px;
}
.button_map_two {
    float: left;
    padding: 26px 0 0 30px;
    text-align: right;
    width: 83%;
}
#header_btn{
  background: #fa0000;
  padding: 3px 11px;
  cursor:pointer;
}
#left_top_btn{
    background: #fa0000 none repeat scroll 0 0;
    cursor: pointer;
    padding: 3px 11px
}
#prop_det{
    padding-top:30px;
}
.area_one img, .area_two img, .area_three img {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.area_one img:hover, .area_two img:hover, .area_three img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​
.ajax_load_map_two span a:hover {
    color: yellow;
}

.tooltip-custom {
    background: none;
    border: none !important;
    box-shadow: none;
}
.only_tip_text {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    opacity: 0.98;
    border-radius: 3px;
}
.both-tolltip{
    background:none;
    box-shadow: none;
}
.tooltip-custom img {
    height: 20px;
}
.only_tip_text > span {
    padding: 4px 8px;
    font-size: 12px;
}
.both-tolltip img {
    height: 20px;
    display: inline-flex;
    padding: 0 4px 0 0;
}
.both-tolltip > span {
    background: #000000 none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    padding: 4.7px 4.7px;
    font-size: 12px;
    color:#fff;
}
a.show_area_one:hover, .show_area_two:hover, .show_area_one:hover, .ajax_load_map span a:hover, .ajax_load_map_two span a:hover {
    color: yellow !important;
}
.add_buuton2{
display:none;
}

.adv_bg {
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#feed_property_id {
    position: relative;
    z-index: 1033;
}
.no_dates_prop > label {
    color: #fff;
    position:relative;
}
.bg_adv_search{
 background: #000000 none repeat scroll 0 0;
    height: 14%;
    left: 151px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 178px;
    width: 73%;
}

.advanced_search_shortcode .cd-dropdown ul {
    width: 106% !important;
}
.header_control_v3 .logo {
    float: left;
    width: 205px !important;
}
.ribbon-wrapper-default{
background-color:#FA0000 !important;

}
.ribbon-inside{
padding-left: 3% !important;
padding-top: 19px !important;
}
.home_advanced_sarch .no_dates_prop label {
    color: #000;
}
.listing.btn{
 background: #002BFF;
	
}
.listing.btn a, .listing.btn span {
    color: #fff !important;
}
.agent_contanct_form input[type="text"], .agent_contanct_form input[type="password"], .agent_contanct_form input[type="email"], .agent_contanct_form input[type="url"], .agent_contanct_form input[type="number"], .agent_contanct_form textarea{

border: 1px solid #FF9191!important;
}
.agent_listing h4{
color: #1019c9 !important;
}
#show_contact{
 color: red;
}
.agent_contanct_form{
  margin: 7px 15px 0 23px !important;
}

.thumbs_row {
  float: left;
  margin-top:20px;
  overflow: visible !important;
  position: relative !important;
  top: 0;
  width: 100%;
}
.image_thumbs_row{
    float: left;
    position: unset;
    top: 0;
    width: 75%;
    z-index: 99;
}
.google_icons {
    float: left;
    width: 21%;
}
#googleMap{
  	height: 410px;
 	 border: solid 1px #333;
}
.gmap_wrapper{
 	 margin-top: 50px;
 	 margin-bottom: 15px;
}
.info_details img {
 	 width: 32%;
         height:74px;
}
.info_details{
 	width:345px;
}
a#infobox_title{
	font-size: 14px !important;
	font-weight: normal !important;
        color:red !important;
}
.info_details .prop_details{
 	width: 58%;
}
#info_inside{
	font-size: 16px;
	color:blue;
}
.info_details::after{
  	border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;

}
.rent_table{
	 color:red;
}
.branding_fixed .logo {
    min-height: 80px !important;
}
.branding_fixed .logo img{
    min-height: 100px;
    width: 200px;
}
.info_details::after {
    background-image: url("css/css-images/rentalspin.png");
    background-repeat: no-repeat;
    border-color: #ff0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
    background-repeat: no-repeat;
    padding: 32px 3px;
    background-position: center;

}

.home_advanced_sarch #booking_location_shortcode {
    max-width: 126px;
}
.home_advanced_sarch #advanced_submit_shorcode{
   width: 106px;
}
.chenged {
    background-color: #E6E6E6 !important;
}
#mymap {
    width: 650px !important;
    height: 410px !important;
    margin-top: 45px !important;
    float: left;
    border: solid 1px #333;
}
div#paginations {
    float: left;
    clear: BOTH;
    text-align: center;
    width:100%;
}
.home-recent-posts {
    margin: 0px 9px 22px 0px;
    min-height: 460px;
}
.numeric {
  font-size: 16px;
  background-color: blue;
  color: #fff;
  padding: 2px 5px;
}
a.first.page.button {
  font-size: 20px;
  color: red;
  padding: 0px 8px;
}
a.page.button.last_home_btn {
  color: red;
  padding: 0px 4px;
  font-size: 21px;
}
.first_post, .span.current {
    background-image: url('http://vrbrsupersite.com/wp-content/uploads/2013/09/previous_thumb.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 6px;
    margin-right: 15px;
}
.last_post {
    background-image: url('http://vrbrsupersite.com/wp-content/uploads/2013/09/next_thumb.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 6px;
    margin-left: 15px;
}
.bg-iamge{
    background-image: url('http://vrbrsupersite.com/wp-content/uploads/2013/09/page-buttons_thumb.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 6px;	

}
.pagination a {
  padding-left: 12px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 4px;
}



